.container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}

.login{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
   
}

.login input{
    height: 30px;
}
small{
    color: red;
}